SET FOREIGN_KEY_CHECKS=0;

DROP TABLE IF EXISTS `auteur`;
CREATE TABLE `auteur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `date_naissance` datetime NOT NULL,
  `date_deces` datetime DEFAULT NULL,
  `nationalite` varchar(255) DEFAULT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4;

DROP TABLE IF EXISTS `categorie`;
CREATE TABLE `categorie` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4;

DROP TABLE IF EXISTS `doctrine_migration_versions`;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
INSERT INTO `doctrine_migration_versions` (`version`,`executed_at`,`execution_time`) VALUES
('DoctrineMigrations\\Version20260310102136',NULL,NULL),
('DoctrineMigrations\\Version20260310143206',NULL,NULL),
('DoctrineMigrations\\Version20260311160000','2026-03-11 15:01:16','50');

DROP TABLE IF EXISTS `emprunt`;
CREATE TABLE `emprunt` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date_emprunt` datetime NOT NULL,
  `date_retour` datetime DEFAULT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `livre_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_364071D7FB88E14F` (`utilisateur_id`),
  KEY `IDX_364071D737D925CB` (`livre_id`),
  CONSTRAINT `FK_364071D737D925CB` FOREIGN KEY (`livre_id`) REFERENCES `livre` (`id`),
  CONSTRAINT `FK_364071D7FB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4;

DROP TABLE IF EXISTS `livre`;
CREATE TABLE `livre` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titre` varchar(255) NOT NULL,
  `date_sortie` datetime NOT NULL,
  `langue` varchar(255) NOT NULL,
  `photo_couverture` varchar(255) DEFAULT NULL,
  `emprunt_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_AC634F99AE7FEF94` (`emprunt_id`),
  CONSTRAINT `FK_AC634F99AE7FEF94` FOREIGN KEY (`emprunt_id`) REFERENCES `emprunt` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=44 DEFAULT CHARSET=utf8mb4;

DROP TABLE IF EXISTS `livre_auteur`;
CREATE TABLE `livre_auteur` (
  `livre_id` int(11) NOT NULL,
  `auteur_id` int(11) NOT NULL,
  PRIMARY KEY (`livre_id`,`auteur_id`),
  KEY `IDX_A11876B537D925CB` (`livre_id`),
  KEY `IDX_A11876B560BB6FE6` (`auteur_id`),
  CONSTRAINT `FK_A11876B537D925CB` FOREIGN KEY (`livre_id`) REFERENCES `livre` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_A11876B560BB6FE6` FOREIGN KEY (`auteur_id`) REFERENCES `auteur` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
INSERT INTO `livre_auteur` (`livre_id`,`auteur_id`) VALUES
('31','22'),
('32','22'),
('33','23'),
('34','23'),
('35','24'),
('36','24'),
('37','27'),
('38','26'),
('39','28'),
('40','25'),
('41','29'),
('42','30'),
('43','31');

DROP TABLE IF EXISTS `livre_categorie`;
CREATE TABLE `livre_categorie` (
  `livre_id` int(11) NOT NULL,
  `categorie_id` int(11) NOT NULL,
  PRIMARY KEY (`livre_id`,`categorie_id`),
  KEY `IDX_E61B069E37D925CB` (`livre_id`),
  KEY `IDX_E61B069EBCF5E72D` (`categorie_id`),
  CONSTRAINT `FK_E61B069E37D925CB` FOREIGN KEY (`livre_id`) REFERENCES `livre` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_E61B069EBCF5E72D` FOREIGN KEY (`categorie_id`) REFERENCES `categorie` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
INSERT INTO `livre_categorie` (`livre_id`,`categorie_id`) VALUES
('31','28'),
('31','31'),
('32','28'),
('32','31'),
('33','28'),
('33','36'),
('34','28'),
('34','36'),
('35','29'),
('36','29'),
('37','29'),
('37','34'),
('38','30'),
('39','33'),
('39','34'),
('40','29'),
('40','35'),
('41','29'),
('42','31'),
('43','37');

DROP TABLE IF EXISTS `reservations`;
CREATE TABLE `reservations` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date_resa` datetime NOT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `livre_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_4DA239FB88E14F` (`utilisateur_id`),
  KEY `IDX_4DA23937D925CB` (`livre_id`),
  CONSTRAINT `FK_4DA23937D925CB` FOREIGN KEY (`livre_id`) REFERENCES `livre` (`id`),
  CONSTRAINT `FK_4DA239FB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;

DROP TABLE IF EXISTS `utilisateur`;
CREATE TABLE `utilisateur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `date_adhesion` datetime NOT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `date_naiss` datetime NOT NULL,
  `email` varchar(255) NOT NULL,
  `adresse_postale` varchar(255) NOT NULL,
  `num_tel` varchar(20) NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `roles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`roles`)),
  `password` varchar(255) NOT NULL,
  `enabled` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_IDENTIFIER_EMAIL` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4;
SET FOREIGN_KEY_CHECKS=1;
